[Unit]
Description=Start microherd lab - Daily
After=network-online.target rke2-server.service

[Service]
Type=oneshot
User=root
Environment="HOME=/root"
Environment="KUBECONFIG=/etc/rancher/rke2/rke2.yaml"
Environment="PATH=/var/lib/rancher/rke2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/opt/start-lab.sh

[Install]
WantedBy=multi-user.target
