[Unit]
Description=Start microherd lab - Daily

[Service]
Type=oneshot
Environment="KUBECONFIG=/etc/rancher/rke2/rke2.yaml
ExecStart=/opt/start-lab.sh

[Install]
WantedBy=multiuser.target
