[Unit]
Description=Stop microherd lab - Daily

[Service]
Type=oneshot
Environment="KUBECONFIG=/etc/rancher/rke2/rke2.yaml
ExecStart=/opt/lab_stop.sh

[Install]
WantedBy=multiuser.target
